$fa-font-path:"../fonts";
@import "font-awesome/scss/font-awesome";

$fireRed: #990000;
$textColor: #FFFFFF;

body {
  .fireBackground {
    background-color: $fireRed;
  }
}
a {
  color:#FFFFFF;
}
.articleMenu {
  background-color:#222 !important;
}
.sidebar_content {
  background-color:#FFFFFF;
}
header.home-header-image {
  background-image: url('../images/bg-header.jpg');
}
header.hideHeader {
  display:none;
}
footer {
  background-color:#222;
  padding-top:20px;
  font-family: "Helvetica Neue", sans-serif;
  color:white;
  font-size:14px;
  p {
    text-align:center;
    padding-bottom:10px;
  }
}

#about, #news {
  background-color: $fireRed;
  color:white;
  h1 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 10px;
    margin: 30px 0px 30px 0px;
    .major {
      font-weight:800;
    }
    .minor {
      font-weight:200;
    }
  }
  p.lead-text {
    padding: 0px 80px 20px 80px;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
  }
  h4 {
    font-size:30px;
  }
  .article-content {
    h4 {
      margin:40px 0px 10px 0px;
    }
    p {
      font-family: "Helvetica Neue", sans-serif;
      text-align:left;
      font-size:16px;
    }
    .article-details {
      font-style: italic;
      margin:0px 0px 30px 0px;
      p {
        text-align: center;
      }
    }
  }
  .content-header {
    background-color: #FFFFFF;
    h1 {
      color: $fireRed;
    }
  }
  .sidebar_content {
    color:black;
    padding:30px 0px 30px 0px;
    h4 {
      a {
        color: $fireRed;
        font-size:18px;
      }
    }
  }
}

.article-summary {
  display: block;
  border-bottom: 1px solid $textColor;
  padding:60px 0px 60px 0px;
  i.fa-clock-o {
    margin-right:5px;
  }
  date, author {
    text-transform: uppercase;
    font-size:12px;
  }
  excerpt {
    p {
      margin-top:20px;
    }
  }
}
.article-summary:last-child {
  border-bottom:none;
}
.google-maps {
  background-image: url("../images/google-map.gif");
  background-position: center;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 200px !important;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
